@import "colors";

nav {
    height: 3rem;
    padding: 1rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.229);
    background-color: rgb(250, 250, 250);

    >div {
        display: flex;
        align-items: center;

        >h3 {
            color: $red;
            font-size: 2rem;
        }

        >a {
            margin: 0 2rem;
            color: $dark;
            transition: color 0.3s;
            text-decoration: none;

            &:hover {
                color: $lightdark;
            }

            >svg {
                color: $red;
                transition: inherit;
                font-size: 1.5rem;

                &:hover {
                    color: $lightdark;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    nav {
        padding: 1rem;

        >div>a {
            margin: 0 0.5rem;
        }
    }
}